* {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Global CSS */

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.top-10 {
  top: 10px;
}

.right-10 {
  right: 10px;
}

.bottom-10 {
  bottom: 10px;
}

.left-10 {
  left: 10px;
}

.w-40-px {
  width: 40px;
}

.h-40-px {
  height: 40px;
}

.w-15-percent {
  width: 15%;
}

.w-20-percent {
  width: 20%;
}

.w-30-percent {
  width: 30%;
}

.w-40-percent {
  width: 40%;
}

.w-50-percent {
  width: 50%;
}

.w-60-percent {
  width: 60%;
}

.w-70-percent {
  width: 70%;
}

.w-90-percent {
  width: 90%;
}

.w-500-px {
  width: 500px;
}

.w-600-px {
  width: 600px;
}

.h-50-percentage {
  height: 50%;
}

.h-60-percent {
  height: 60%;
}

.h-80-px {
  height: 80px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

.mr-20-px {
  margin-right: 20px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.pt-14 {
  padding-top: 14px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.text-small {
  font-size: 16px;
}

.text-small-xs {
  font-size: 14px;
}

.text-smooth-small-xs {
  font-size: 12px;
}

.text-base {
  font-size: 18px;
}

.text-medium {
  font-size: 20px;
}

.text-lg {
  font-size: 24px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-xxl {
  font-size: 42px;
}

.text-light-yellow {
  color: #ffef63;
}

.text-white {
  color: #fff;
}

.left-border-2-white {
  border-left: 2px solid #fff;
}

.font-nunito {
  font-family: "Nunito Sans", sans-serif;
}

.font-semibold {
  font-weight: 600;
}

.font-regular {
  font-weight: 400;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-content-start {
  justify-content: start;
}

.flex-content-between {
  justify-content: space-between;
}

.flex-content-end {
  justify-content: end;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-end {
  justify-content: right;
}

.flex-align-center {
  align-items: center;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: #fff;
}

.bg-black-30 {
  background-color: rgba(0, 0, 0, 0.208);
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-2xl {
  border-radius: 10rem;
}

.rounded-full {
  border-radius: 100%;
}

.custom-rounded-bottom-right-15 {
  border-bottom-right-radius: 15px;
}

.border-none {
  border: none;
}

.w-fit-content {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-purple {
  background-color: #6b53aa;
}

/* End Global CSS */

.top-header-bread {
  display: flex;
  height: 48px;
  align-items: center;
  background-color: #6b53aa;
}

#sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 20 !important;
}

.wrapped-search-box {
  height: 48px;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.select-view {
  border-right: 2px solid #dfdfdf;
  height: 60%;
}

/* .top-navs-search:focus-within {
  border: 1px solid #000;
} */

.top-navs-search *:focus {
  border: none !important;
  outline: none !important;
}

.banner-heading span {
  color: #523d91;
}

.category-card {
  background-color: #fafafa;
  width: 24%;
  height: 200px;
  border-radius: 12px;
  margin-top: 20px;
}

.products-card-image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 255px;
  border-radius: 12px;
}

.products-card {
  width: 24%;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 12px;
}
.products-card > div:nth-child(2) {
  padding-left: 20px;
  padding-right: 20px;
}

.products-card:hover {
  background: rgb(242, 242, 242);
  transition: all;
  transition-duration: 300ms;
}

.pagination-active {
  background-color: #533b92;
  color: #ffffff !important;
}

#pagination > div {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
}

#pagination > div:hover {
  background-color: #d6d4d4;
  transition: all;
  transition-duration: 500ms;
}

/* Responsive query */

@media only screen and (max-width: 860px) {
  #search-navs {
    display: none;
  }
  #user-info {
    width: 80%;
  }
  .category-card {
    margin-right: 0px !important;
    margin-top: 20px !important;
    width: 100% !important;
  }
  .products-card-image {
    width: 100%;
  }

  .products-card {
    width: 100%;
  }
  .products-card {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }
  .md-px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .md-hidden {
    display: none;
  }
  .md-w-full {
    width: 100% !important;
  }
  .md-flex-align-center {
    align-items: center;
  }
  .md-m-0 {
    margin: 0px;
  }
  .md-flex-dir-col {
    flex-direction: column;
  }
  .md-flex-dir-col-reverse {
    flex-direction: column-reverse;
  }
  .md-h-auto {
    height: auto !important;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-flex-wrap {
    flex-wrap: wrap;
  }
  .md-flex-content-center {
    justify-content: center;
  }
  .md-text-small {
    font-size: 16px;
  }
  .md-text-small-xs {
    font-size: 14px;
  }
  .md-text-smooth-small-xs {
    font-size: 12px;
  }
  .md-text-base {
    font-size: 18;
  }
  .md-text-medium {
    font-size: 20px;
  }
}
